body {
    margin: 0;
    padding: 0;
    font-family: 'Kiwi Maru', sans-serif;
    border-top: 52px solid #E998C9;
    max-height: 100vh;

    overflow: hidden;
}

.container {
    background-color: #FFE8EE;
    padding: 20px;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    height: 90vh;
}

#pink-cat {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    margin-left: auto;
    margin-right: 20vh; /* Alinear a la derecha */
    width: 80%; 
    max-width: 700px; 
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 120px;
    color: #5F5FA2;
    margin: 0;
}

.subtitulo {
    text-align: center;
}

h2 {
    font-size: 36px;
    color: #5F5FA2;
    margin: 0;
}

.login-form {
    padding: 10px;
    margin-bottom: 250px;
    width: 550px; /* Ancho del formulario igual al del título */
    max-width: 80%;
    align-self: flex-start; /* Alinear el formulario a la derecha */
}

input[type="text"],
input[type="password"] {
    width: 120%; /* Ancho igual al del título */
    padding: 12px;
    margin: 25px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    background-color: #E998C9;
    color: #5F5FA2;
    font-size: 20px;
}

input[type="submit"] {
    width: 40%;
    padding: 10px;
    margin: 30px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    background-color: #5F5FA2;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 30px;
}

.enviar {
    text-align: center;
}

.register-button {
    width: 100%; /* Ancho igual al del título */
    color: #5F5FA2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}

footer {
    background-color: #E998C9;
    width: 100%;
    padding: 15px;
    
    font-size: 28px;
    text-align: center;
    color: #5F5FA2;

    position: fixed;
    bottom: 0;

}

@media screen and (max-width: 600px) {
    /* Ajustes para pantallas pequeñas */
    .container {
        margin-top: 0; /* Reiniciar el margen en pantallas pequeñas */
        margin-right: 0; /* Reiniciar el margen en pantallas pequeñas */
        align-items: center; /* Centrar elementos en pantallas pequeñas */
    }
}
